fastapi
uvicorn
loguru
google-auth
google-auth-oauthlib
google-api-python-client
google-cloud-storage
confluent-kafka
pyspark
pandas
numpy
python-dateutil
pytz
dash
dash-core-components
dash-html-components
dash-table
plotly
selenium
python-dotenv
